{% macro dialog_base(id="") %}
<dialog id="dialog_{{id}}"
    class="fixed inset-0 z-50 flex dark:text-gray-300 items-center justify-center bg-transparent w-full h-full backdrop-blur-sm hidden">
    {{caller()}}
</dialog>
{% endmacro %}

{% macro dialog_info(id="", message="") %}
    {% call dialog_base(id=id) %}
        <div class="bg-card rounded-lg p-6 max-w-md w-full mx-4 shadow-xl">
            <div class="flex items-start gap-4">
                <div class="flex-1">
                    <div class="flex items-center gap-2">
                        <i data-lucide="alert-circle" class="text-amber-500 "></i>
                        <p id="dialog_text_{{id}}" class="text-gray-700 dark:text-gray-300 text-wrap">{{message}}</p>
                    </div>
                    <form method="dialog" class="flex justify-end">
                        <button id="dialog_button_{{id}}"
                            class="px-4 py-2 bg-orange-600 text-white rounded hover:bg-orange-500 transition-colors">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    {% endcall %}
{% endmacro %}

{% macro dialog_form(id="", title="", csrf_token="", button_text="Aceptar", action="", method="post", enctype="") %}
    <dialog id="dialog_{{id}}"
    class="fixed inset-0 z-50 flex items-center dark:border-gray-300 justify-center bg-transparent w-full h-full backdrop-blur-sm hidden">
        <form method="{{method}}" action="{{action}}" class="bg-card dark:text-gray-300 rounded-lg p-6 max-w-md w-full mx-4 shadow-xl gap-4 flex flex-col" enctype="{{enctype}}">
            <div class="flex items-center justify-between">
            <h2 class="text-xl font-bold dark:text-white">{{title}}</h2>
            <a class="cursor-pointer dark:text-white" onclick="document.getElementById('dialog_{{id}}').classList.add('hidden')"><i data-lucide="x"></i></a>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            {{ caller() }}
            <button type="submit" class="bg-orange-600 select-none text-white w-full cursor-pointer px-2 py-1 hover:bg-orange-500">{{button_text}}</button>
        </form>
    </dialog>
{% endmacro %}